{% load i18n %}{% load url from future %}{% autoescape off %}
{% blocktrans %}Sie haben diese E-Mail erhalten, weil Sie ein neues Passwort bei CampusLab E-Learning angefordert haben.{% endblocktrans %}

{% trans "Bitte folgen Sie dem Link und geben Sie ihr neues Passwort ein:" %}
{% block reset_link %}
https://{{domain}}{% url 'student.views.password_reset_confirm_wrapper' uidb36=uid token=token %}
{% endblock %}

Falls Sie dies nicht angefordert haben, können Sie diese E-Mail löschen, denn Ihr Passwort ist noch nicht zurückgesetzt.

{% trans "Thanks for using our site!" %}

{% blocktrans %}Ihr CampusLab E-Learning Team{% endblocktrans %}

{% endautoescape %}
